@model IEnumerable<TapahtumaLib.Models.Tapahtumat>

@{
    ViewData["Title"] = "TapahtumahakuNimellä";
}

<h1>Tapahtumahaku nimellä</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sijainti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Päivämäärä)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kuvaus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ikäraja)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Kuva)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sijainti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Päivämäärä)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kuvaus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ikäraja)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Kuva)
            </td>*@
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id = item.TapahtumaId }) <br />
            @Html.ActionLink("Poista", "Delete", new { id = item.TapahtumaId }) <br />
            <a asp-action="Index">Takaisin listaan</a>
            @*<a asp-action="Edit" asp-route-id="@item.TapahtumaId">Muokkaa</a> <br />
            <a asp-action="Details" asp-route-id="@item.TapahtumaId">Tiedot</a> <br />
            <a asp-action="Delete" asp-route-id="@item.TapahtumaId">Poista</a>*@
        </td>
        </tr>
}
    </tbody>
</table>
